---
import AnimateText from "@/components/AnimateText.astro"
import AnimateText2 from "@/components/AnimateText2.astro"
import AuroraText from "@/components/ui/AuroraText.astro"

import Link from "@/components/ui/Link.astro"
import StyleBox from "@/components/ui/StyleBox.astro"
import Layout from "@/layouts/Layout.astro"
import { getCollection } from "astro:content"

const posts = await getCollection("posts")
---

<Layout bodyStyle="bg-[#f8fafc]" title="" description="">
<main class="flex flex-col gap-[10rem]">
  	<AnimateText />
  	<AnimateText2 />
  
  	<Link href="#">Ссылка</Link>
  
  	<h2 class="text-8xl text-center font-bold tracking-tighter">
  		Ship
  		<AuroraText
  			speed={1}
  			colors={["#FF0080", "#7928CA", "#0070F3", "#38bdf8"]}
  			class="text-8xl font-bold"
  		>
  			beautiful
  		</AuroraText>
  	</h2>
  
  
  	<div class="flex gap-10">
  		<StyleBox variant="default" outClassFirst="" outClassSecond="" innerClass="">
  			<p>
  				<b>Прозрачный стиль:</b>
  				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis voluptatem facere
  				eaque quas quisquam sequi perspiciatis est vitae.
  			</p>
  		</StyleBox>
  		<StyleBox variant="light">
  			<p>
  				<b>Белый стиль:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
  				voluptatem facere eaque quas quisquam sequi perspiciatis est vitae.
  			</p>
  		</StyleBox>
  		<StyleBox variant="gray">
  			<p>
  				<b>Серый стиль:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
  				voluptatem facere eaque quas quisquam sequi perspiciatis est vitae.
  			</p>
  		</StyleBox>
  	</div>
</main>


</Layout>
