---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="" description="">
	<h1 class="heading-h1">Heading H1</h1>
	<h2 class="heading-h2">Heading H1</h2>
	<h3 class="heading-h3">Heading H1</h3>
</Layout>
