---
import Layout from "@/layouts/Layout.astro"

const avatars = [
	{
		imageUrl: "https://avatars.githubusercontent.com/u/16860528",
		profileUrl: "https://github.com/dillionverma",
	},

	{
		imageUrl: "https://avatars.githubusercontent.com/u/106103625",
		profileUrl: "https://github.com/BankkRoll",
	},
	{
		imageUrl: "https://avatars.githubusercontent.com/u/59228569",
		profileUrl: "https://github.com/safethecode",
	},
	{
		imageUrl: "https://avatars.githubusercontent.com/u/59442788",
		profileUrl: "https://github.com/sanjay-mali",
	},
	{
		imageUrl: "https://avatars.githubusercontent.com/u/89768406",
		profileUrl: "https://github.com/itsarghyadas",
	},
]
const stylesBox = [
	{ title: "Default", preset: "default" },
	{ title: "Light", preset: "light" },
	{ title: "Gray", preset: "gray" },
	{ title: "Slate", preset: "slate" },
	{ title: "Blue", preset: "blue" },
	{ title: "Emerald", preset: "emerald" },
	{ title: "Red", preset: "red" },
	{ title: "Orange", preset: "orange" },
	{ title: "Purple", preset: "purple" },
	{ title: "Pink", preset: "pink" },
	{ title: "Yellow", preset: "yellow" },
]
---

<Layout bodyStyle="bg-[#f8fafc]" title="" description="">
	<!-- ===========================
	UI / VISUAL COMPONENTS SHOWCASE
	Сними внешний комментарий,
	чтобы включить ВСЕ компоненты и подключи импорты
===========================

<ImageBlurFocus />

<StickyScrollRevealDemo client:load />

<div class="h-[40rem] flex items-center justify-center">
	<TextHoverEffect client:load text="Привет!" />
</div>

<SparklesText client:load>Привет</SparklesText>

<SocialButton
	title="YouTube"
	href="#"
	class="text-blue-500"
	social="youtube"
	aria_label="Youtube"
/>

<Socials data={socials} />

========== GRADIENT DEMOS ========== 

	<div class="overflow-hidden relative h-[320px] w-full rounded-xl">
		<h2 class="overlay-title overlay">Логотип Красивый</h2>
		<Gradient client:load />
	</div>

	<div class="overflow-hidden relative h-[320px] w-full rounded-xl">
		<h2 class="overlay-title difference">Логотип Красивый</h2>
		<Gradient
			type="grain"
			colors={["#0cc61b", "#fff", "#eb3333"]}
			speed="0.5"
			client:load
		/>
	</div>

	<div class="overflow-hidden relative h-[320px] w-full rounded-xl">
		<h2 class="overlay-title overlay">Логотип Красивый</h2>
		<Gradient type="mesh" speed="0.5" client:load />
	</div>

	<div class="overflow-hidden relative h-[320px] w-full rounded-xl">
		<h2 class="overlay-title dark">Логотип Красивый</h2>
		<Gradient
			type="mesh"
			colors={["#fff", "#5518fb", "#fffbbd", "#fff"]}
			speed="0.4"
			client:load
		/>
	</div>

	<div class="overflow-hidden relative h-[320px] w-full rounded-xl">
		<Gradient type="liquid" speed="0.4" colors={["#00042e", "#5b4dc7"]} client:load />
	</div>

	<section class="flex gap-4 items-center justify-center">
		<div class="overflow-hidden relative h-[250px] w-full rounded-xl">
			<h2 class="overlay-title overlay">mix-blend-overlay</h2>
			<Gradient
				colorBack="#8a90d6"
				colorTint="#5b4dc7"
				type="liquid"
				speed="1"
				client:load
			/>
		</div>

		<div class="overflow-hidden relative h-[250px] w-full rounded-xl">
			<h2 class="overlay-title difference">mix-blend-difference</h2>
			<Gradient
				colorBack="#e2f4e6"
				colorTint="#32c3a3"
				type="liquid"
				speed="1"
				client:load
			/>
		</div>

		<div class="overflow-hidden relative h-[250px] w-full rounded-xl">
			<h2 class="overlay-title exclusion">mix-blend-exclusion</h2>
			<Gradient
				colorBack="#da944929"
				colorTint="#fff"
				type="liquid"
				speed="1"
				client:load
			/>
		</div>
	</section>

	<MorphText />
	<PresentText />
	<ExemplaryList />

	<div class="mx-auto flex items-center gap-6">
		<SparklesButton />
		<BorderButton />
	</div>

	<SnapCarousel />
	<AvatarsList avatarUrls={avatars} numPeople={54} />
	<SnapCarouselAuto />

	<main class="flex flex-col gap-[10rem]">
		<AnimateText />
		<AnimateText2 />

		<Link href="#">Ссылка</Link>

		<h2 class="text-8xl text-center font-bold tracking-tighter">
			Это
			<AuroraText
				speed={1}
				colors={["#FF0080", "#7928CA", "#0070F3", "#38bdf8"]}
				class="text-8xl font-bold"
			>
				Красивый
			</AuroraText>
			Текст
		</h2>
	</main>

	=========================== -->
</Layout>
