---
import Menu from "@/components/Menu/Menu.astro"
import Container from "./Container.astro"
import Logo from "./Logo.astro"
---

<header>
	<div class="py-5 bg-white">
		<Container class="flex items-center justify-between gap-x-3">
			<Logo />
			<Menu />
		</Container>
	</div>
	<hr
		class="h-px w-full border-0 bg-gradient-to-r from-transparent via-gray-200 to-transparent"
	/>
</header>
