---
import { Icon } from "astro-icon/components"
---

<div class="relative group">
	<a
		href="#"
		class="relative inline-block p-px shadow-2xs rounded-xl transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95"
	>
		<span
			class="absolute inset-0 rounded-xl bg-gradient-to-r from-red-400 via-amber-500 to-purple-500 p-[2px] opacity-0 transition-opacity duration-500 group-hover:opacity-100"
		></span>

		<span class="relative z-10 block px-6 py-3 rounded-xl bg-white">
			<div class="relative z-10 flex items-center space-x-2">
				<span class="transition-all duration-500 group-hover:translate-x-1"
					>Вперед смотреть!</span
				>
				<Icon name="mdi:arrow-right" />
			</div>
		</span>
	</a>
</div>
